/* Estilos del contenedor de boton de full ime */
.fullTime-container{
    margin-top: 2rem;
}

/* Estilos del botón de full time */
.example-margin{
    color: #334680;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

/* Estilos de la sección de ubicación */
.location-container{
    margin-top: 2.2rem;
    position: relative;
}


/* Estilos del label de Location */
.location-container h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1rem;
    color: #B9BDCF;
    text-transform: uppercase;
}

/* Estilos del input de Location */
.location-container input{
    width: 85%;
    height: 40px;
    min-width: 250px;
    border: none;
    padding-left: 40px;
}

/* Estilos del focus del input */

.location-container input:focus{
    border: none;
    border-style: none;
    outline: none;
}

/* Estilos de placeholder del input */
.location-container input::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

/* Estilos del icono de la ubicación */
.location-container .public-icon{
    position: absolute;
    top: 40px;
    left: 8px;
    color: #B9BDCF;
}

/* Estilos de cities container */
.cities-container{
    margin-top: 2rem;
    color: #334680;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.cities-container .cities{
    display: block;
    margin-bottom: 1.2rem;
}