.link-container{
    position: relative;
    margin-top: 1rem;
}

.link-container a:link, .link-container a:visited, .link-container a:active{
    text-decoration: none;
    color: #1E86FF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 21px;
}

.link-container a span{
    position: absolute;
    top: 2px;
    left: 30px;
}

.how-to-apply{
    margin-top: 2.1rem;
}

.how-to-apply span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 21px;
    text-transform: uppercase;
    color: #B9BDCF;
}

.how-to-apply .apply-container{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 21px;
    margin-top: 1rem;
    color: #334680;
    width: 100%;
}

.information-job{
    margin-top: 2rem;
    color: #334680;
}

.information-job h4{
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 28px;
}

.information-job .type{
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 14px;
    border: 1px solid #334680;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.3rem;
}

.information-job .created_at-container{
    position: relative;
    padding-top: 1rem;
    color: #B7BCCE;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 14px;
}

.created_at-container .created_at{
    position: absolute;
    top: 21px;
    left: 28px;
}

.company-info{
    display: flex;
    margin-top: 3rem;
}

.company-info .logo{
    width: 35%;
}

.company-info .logo img{
    width: 100%;
}

.name-and-location{
    margin-left: 1rem;
}

.name-and-location h5{
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 21px;
    color: #334680;
}

.location-container{
    position: relative;
    width: 200px;
    color: #B9BDCF;
}

.location-container .location{
    position: absolute;
    left: 30px;
    top: 4.5px;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 14px;
}

.job-description{
    margin-top: 2rem;
    color: #334680;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 150%;
}

.spinner-container{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}