<app-logo></app-logo>

<div class="link-container">
    <a routerLink="/">
        <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_backspace</mat-icon>
        <span>
            Back to search
        </span>
    </a>
</div>

<div *ngIf="(job$ | async) as job">
    <section class="how-to-apply">
        <span>how to apply</span>
        <div class="apply-container" [innerHTML]="job.how_to_apply | sanitize">
        </div>
    </section>

    <section class="information-job">
        <h4>{{ job.title }}</h4>
        <span class="type" *ngIf="job.type == 'Full Time'">
            {{ job.type }}
        </span>
        
        <div class="created_at-container">
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">query_builder</mat-icon>
            <span class="created_at">
                {{ job.created_at | timeago}}
            </span>
        </div>
    </section>
</div>