.search-container{
    width: 100%;
    height: 138px;
    min-width: 280px;
    background-color: red;
    background-image: url('../../../../assets/images/buildings.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container form{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}